.question-card {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 10px;
  max-height: 100px;
  overflow: hidden;
}

.question-card h3 {
  cursor: pointer;
}
